<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./main.css" rel="stylesheet">
    </head>
    <body>
        <div class="todo_list">
        <form action="/" method="POST">
            <div class="search">
                <input type="text" name="task" class="search_bar" placeholder="add a todo...">
                <input type="submit" id="submit" value="Add todo">
            </div>
        </form>
            {{#todos}}
                {{^complete}}
                    <div class="in_process">
                    <form action="/" method="POST">
                        <input type="hidden" value="{{task}}" name="mark">
                        <input type="submit" class="complete_submit" value="Mark Complete" name="submit">
                        <span>{{task}}</span>
                    </form>
                    </div>
                {{/complete}}
            {{/todos}}
                <h3>Completed tasks</h3>
            {{#todos}}
                {{#complete}}
                    <div class="done">
                    <p><del>{{task}}</del></p>
                    </div>
                {{/complete}}
            {{/todos}}
        </div>
    </body>
</html>