<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./main.css" rel="stylesheet">
    </head>
    <body>
        <form action="/" method="POST">
            <div class="search">
                <input type="text" name="task" placeholder="add a todo...">
                <input type="submit" value="Add todo">
            </div>
        </form>
            {{#todos}}
                {{^complete}}
                    <div class="in_process">
                    <form action="/" method="POST">
                        <input type="hidden" value="{{task}}" name="mark">
                        <input type="submit" value="Mark Complete" name="submit">
                        {{task}}
                    </form>
                    </div>
                {{/complete}}
                {{#complete}}
                    <div class="done">
                    {{task}}
                    </div>
                {{/complete}}
            {{/todos}}
    </body>
</html>